 <div style="background-color:#f0f8ff; padding:20px; border-radius:10px; border-left: 6px solid #4a90e2;">,
         <h1 style="color:#333;">üìù CSV a Inserts de SQL</h1>
        <h3 style="color:#555;">üë§ Autor: aUreLi0_triste</h3>
</div>

Leeremos un CSV no normalizado y normalizarlo con los inserts

In [2]:
from IPython.display import Image
import pandas as pd

## Determinar orden de llenado de tablas

El orden es el mismo que aparece en la imagen (primero entidades fuertes y luego las debiles)

In [3]:
Image(filename='"C:/Users/aUreLi0/Downloads/Diagrama Pokemon.png"')

ValueError: Cannot embed the 'png"' image format

## Llenar tablas en orden

Lectura inicial del archivo CSV

In [ ]:
ds_players = pd.read_csv('all_players.csv')

C:\Users\aUreLi0\AppData\Local\Temp\ipykernel_140248\2411722242.py:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  ds_players = pd.read_csv('all_players.csv')

In [ ]:
ds_players

,id,Rank,Name,OVR,PAC,SHO,PAS,DRI,DEF,PHY,...,League,Team,play style,url,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Unnamed: 57
0,0,1,Kylian Mbapp√©,91,97,90,80,92,36,78,...,LALIGA EA SPORTS,Real Madrid,"Quick Step+, Acrobatic, Finesse Shot, Flair, R...",https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
1,1,2,Rodri,91,66,80,86,84,87,85,...,Premier League,Manchester City,"Tiki Taka+, Aerial, Bruiser, Long Ball Pass, P...",https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
2,2,4,Erling Haaland,91,88,92,70,81,45,88,...,Premier League,Manchester City,"Acrobatic+, Bruiser, Power Header, Power Shot,...",https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
3,3,5,Jude Bellingham,90,80,87,83,88,78,83,...,LALIGA EA SPORTS,Real Madrid,"Relentless+, Flair, Intercept, Slide Tackle, T...",https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
4,4,7,Vini Jr.,90,95,84,81,91,29,69,...,LALIGA EA SPORTS,Real Madrid,"Quick Step+, Chip Shot, Finesse Shot, First To...",https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17732,17732,17146,Araya Dennis,53,42,57,49,52,25,42,...,Barclays WSL,Spurs,NaN,https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
17733,17733,17146,Alexia F√©rnandez,53,53,55,51,53,34,47,...,Liga F,Granada CF,NaN,https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
17734,17734,17146,Aleigh Gambone,53,60,58,53,56,49,53,...,Scottish Women's League,Glasgow City FC,NaN,https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
17735,17735,17146,Joy Lysser,53,61,52,48,56,53,58,...,Schweizer Damen Liga,FC Z√ºrich,NaN,https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN
17736,17736,17146,Kate≈ôina Vithov√°,53,60,49,53,54,27,55,...,Ceska Liga ≈Ωen,Slavia Praha,NaN,https,//www.ea.com/games/ea-sports-fc/ratings/player...,NaN,NaN,NaN,NaN,NaN

La primera tabla es: 
```sql
CREATE TABLE play_styles (
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name VARCHAR(30) NOT NULL
);  
```

In [ ]:
play_styles = ds_players['play style']
play_styles_names = []
#Iterar lista
for row in play_styles:
    if not pd.isna(row):
        lista = row.split(', ')
        for ps in lista:
            if ps not in play_styles_names:
                play_styles_names.append(ps)
            
#print(play_styles_names)

#INSERT INTO play_styles (id,name) VALUES (1, 'XD')
play_styles_names.sort()
text = '-- migration: up \n\n'
id = 1
for ps in play_styles_names:
    text = text + f"INSERT INTO play_styles (id,name) VALUES ({id}, '{ps}');\n"
    id = id +1
text = text + '\n-- migration:down \n\n DELETE FROM play_styles;'
with open("012_fill_play_styles.sql","w") as archivo: 
    archivo.write(text)

La segunda tabla es: 
```sql
CREATE TABLE foots (
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name VARCHAR(8) NOT NULL
); 
```

In [ ]:
foots = ds_players['Preferred foot']
foots = list(foots.unique())

text = '-- migration: up \n\n'
id = 1
for ps in foots:
    text = text + f"INSERT INTO foots (id,name) VALUES ({id}, '{ps}');\n"
    id = id +1
text = text + '\n-- migration:down \n\n DELETE FROM foots;'
with open("013_fill_foots.sql","w") as archivo: 
    archivo.write(text)

La cuarta tabla es: 
```sql
CREATE TABLE nations (
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name VARCHAR(70) NOT NULL
);
```
(la tercera ser√° creada al final)

In [ ]:
nations = ds_players['Nation']
nations = sorted(list(nations.unique()))
text = '-- migrations: up \n\n'
id = 1
for name in nations:
    if pd.isna(name):
        continue
    # Escapar ap√≥strofes duplic√°ndolos (est√°ndar SQL)
    safe_name = str(name).replace("'", "''")
    text = text + f"INSERT INTO nations (id, name) VALUES ({id}, '{safe_name}');\n"
    id = id + 1
text = text + '\n-- migrate:down \n\n DELETE FROM nations;'
with open("014_fill_nations.sql", "w") as archivo:
    archivo.write(text)

La quinta tabla es: 
```sql
CREATE TABLE positions (
  id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name VARCHAR(4) NOT NULL
);
```

In [ ]:
positions = ds_players['Position']
positions = sorted(list(positions.unique()))
text = '-- migrations: up \n\n'
id = 1
for name in positions:
    text = text + f"INSERT INTO positions (id,name) VALUES ({id}, '{name}');\n"
    id = id +1
text = text + '\n-- migration:down \n\n DELETE FROM positions;'
with open("015_fill_positions.sql","w") as archivo: 
    archivo.write(text)

La sexta tabla es: 
```sql
CREATE TABLE leagues (
  id	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name VARCHAR(40),
  nation_id INTEGER NOT NULL,
  FOREIGN KEY (nation_id) REFERENCES nation (id)
);
```

In [ ]:
leagues = ds_players['League']
leagues = sorted(list(leagues.unique()))

ds_paises_ligas = pd.read_csv('paises_ligas.csv')
paises = ds_paises_ligas['pais']
ligas = ds_paises_ligas['liga']
text = '-- migrate:up \n\n'

dict_leagues = {}

id = 1
i = 0
while i < len(paises):
  name = ligas[i]
  pais = paises[i]
  nation_id = dict_nations[pais]
  dict_leagues[name] = id
  text = text + f"INSERT INTO leagues (id, name, nation_id) VALUES ({id}, '{name}', {nation_id});\n"
  id = id + 1
  i = i + 1

text = text + '\n-- migrate:down \n\n DELETE FROM leagues;'

print(dict_leagues)

with open("016_fill_leagues.sql", "w") as archivo:
    archivo.write(text)

NameError: name 'dict_nations' is not defined

```sql
CREATE TABLE teams (
  id	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  name VARCHAR(40) NOT NULL,
  league_id INTEGER,
  FOREIGN KEY (league_id) REFERENCES leagues (id)
);
```

In [ ]:
teams = ds_players['Team']
leagues = ds_players['League']

id = 1
i = 0
'''
{
  'Real Madrid': {
    'liga': 'BBVA',
    'id_liga': 2
  }
}
'''
equipos = {}

while i < len(teams):
  team_name = teams[i]
  league_name = leagues[i]

  if team_name not in equipos:
     league_id = dict_leagues[league_name]
     equipos[team_name] = {
        'liga': league_name,
        'id_liga': league_id
     }
  i = i + 1

equipos

ligas = {}

for equipo, info in equipos.items():
    liga = info['liga']
    id_liga = info['id_liga']
    if id_liga not in ligas:
        ligas[id_liga] = {'liga': liga, 'id_liga': id_liga, 'equipos': []}
    ligas[id_liga]['equipos'].append(equipo)

# Si necesitas una lista en vez de diccionario llave=id_liga
resultado = list(ligas.values())

resultado_ordenado = sorted(ligas.values(), key=lambda x: x['id_liga'])

id = 1
text = '-- migrate:up \n\n'

dict_teams = {}

for liga in resultado_ordenado:
  equipos = liga['equipos']
  liga_id = liga['id_liga']
  for equipo in equipos:
    safe_name = str(equipo).replace("'", "''")
    text = text + f"INSERT INTO teams (id, name, league_id) VALUES ({id}, '{safe_name}', {liga_id});\n"
    dict_teams[safe_name] = id
    id = id + 1

text = text + '\n-- migrate:down \n\n DELETE FROM teams;'

with open("018_fill_teams.sql", "w") as archivo:
    archivo.write(text)

```sql
CREATE TABLE players (
  id	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
  ranking INT,
  name VARCHAR(80),
  overal INT,
  pac INT,
  shot INT,
  pas INT,
  dri INT,
  def INT,
  phy INT,
  weak_foots INT,
  skill_moves INT,
  height FLOAT,
  weight INT,
  age INT,
  url VARCHAR(120),
  position_id INTEGER NOT NULL,
  foot_id INTEGER NOT NULL,
  nation_id INTEGER NOT NULL,
  team_id INTEGER NOT NULL,
  sex_id INTEGER NOT NULL,
  FOREIGN KEY (position_id) REFERENCES positions (id),
  FOREIGN KEY (foot_id) REFERENCES foots (id),
  FOREIGN KEY (nation_id) REFERENCES nations (id),
  FOREIGN KEY (team_id) REFERENCES teams (id),
  FOREIGN KEY (sex_id) REFERENCES sexs (id)
);
```

In [ ]:
players = ds_players[['Rank', 'Name', 'OVR', 'Position', 'Preferred foot', 'Height', 'Weight', 'League', 'Team', 'Nation', 'Age']]

id = 1
text = '-- migrate:up \n\n'

for index, row in players.iterrows():
  name = row['Name']
  ranking = row['Rank']
  overal = row['OVR']
  age = row['Age']
  height = int(row['Height'].split('cm')[0])
  weight = int(row['Weight'].split('kg')[0])
  nation = row['Nation']
  nation = str(nation).replace("'", "''")
  nation_id = dict_nations[nation]
  position_id = dict_positions[row['Position']]
  foot_id = dict_foots[row['Preferred foot']]
  team = str(row['Team']).replace("'", "''")
  team_id = dict_teams[team]
  sex_id = 1

  name = str(name).replace("'", "''")

  text = text + f"INSERT INTO players (id, ranking, name, overal, age, height, weight, nation_id, position_id, foot_id, team_id, sex_id) VALUES ({id}, {ranking}, '{name}', {overal}, {age}, {height}, {weight}, {nation_id}, {position_id}, {foot_id}, {team_id}, {sex_id}, {liga_id});\n"
  id = id + 1

text = text + '\n-- migrate:down \n\n DELETE FROM players;'

with open("019_fill_players.sql", "w") as archivo:
    archivo.write(text)